# ----------------------------
# Python Virtual Environment
# ----------------------------
testenv/

# ----------------------------
# Python Cache
# ----------------------------
__pycache__/
*.pyc

# ----------------------------
# React
# ----------------------------
frontend/node_modules/
frontend/build/

# ----------------------------
# Trained AI Models
# ----------------------------
models/bert_emotion_model/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Logs
# ----------------------------
*.log
